{
  "presets": ["@babel/preset-env"],
  "retainLines": true,
  "plugins": [
    "dynamic-import-node",
    "transform-decorators-legacy",
    "@babel/plugin-transform-class-properties"
  ],
  "ignore": ["node_modules"]
}
