@import "./clear";
@import "./variable";
@import "./font";
@import "./mixins";

body {
    @include font-family;
    width: $weight;
    height: $height;
    font-size: 14px;
    font-weight: 400;
    color: $color-light;
    line-height: 1.42;
    margin: 0;
    padding: 0;

    background: $color-dark;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-size-adjust: 100%;
}

.application {
    width: $weight;
    height: $height;
    padding: 10px;
    overflow: hidden;
}

.loading {
    display: block;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.title {
    font-size: 16px;
    text-align: center;
}

.button-container {
    text-align: center;
}

.btn {
    transition: all 0.2s;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 1.41;
    padding: 8px 24px;
    background: $color-light;
    color: $color-dark;
    border-radius: 3px;
}

.link {
    background: none;
    border: none;
    color: $color-light;
    text-decoration: underline;
    cursor: pointer;

    &.-open-hypestate {
        font-size: 13px;
    }

    &:hover {
        text-decoration: none;
    }
}

.report {
    margin: 16px 0;

    &-visitors {
        margin-bottom: 8px;
    }

    &-text {
        color: $color-primary-text;
    }

    &.-warning {
        color: darkorange;
    }

    &-wait {
        text-align: center;
    }
}