@import "./clear";
@import "./variable";
@import "./font";
@import "./mixins";

:root {
  --lh-bg-color: #f5f5f5;
  --lh-text-color: $color-dark;
}

:global {
  body {
    @include font-family;
    width: $weight;
    height: $height;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding: 0;

    background-color: var(--lh-bg-color);
    color: var(--lh-text-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-size-adjust: 100%;
  }

  b {
    font-weight: 700;
  }

  .application {
    width: $weight;
    height: $height;
    padding: 10px;
    overflow: hidden;
  }

  .invalid-host-error {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: $height - 20px;

    &__title {
      font-size: 24px;
      margin-bottom: 16px;
    }

    &__desc {

    }
  }

  .loading {
    display: block;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .button-container {
    text-align: center;
  }

  .btn {
    transition: all 0.2s;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 1.41;
    padding: 8px 24px;
    background: $color-dark;
    color: $color-light;
    border-radius: 3px;
  }

  .link {
    background: none;
    border: none;
    color: $color-dark;
    text-decoration: underline;
    cursor: pointer;

    &.-open-hypestate {
      font-size: 13px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .report {
    margin: 16px 0 0 0;

    &-text {
      color: $color-primary-text;
    }

    &.-warning {
      color: darkorange;
    }

    &-wait {
      text-align: center;
    }
  }

  .report-visitors {
    display: flex;
    margin-bottom: 16px;

    &__item {
      width: 50%;
      text-align: left;
    }
  }
}
